html{
    background-color: #FADBD8;
    margin: 20px;
}

body{

     font-family: 'Roboto', sans-serif;
 }

main {
    display: flex;
    flex-direction: column; /* apila verticalmente */
    align-items: flex-start; /* alinea a la izquierda */
}

nav{
    justify-content: center;
    display: flex;
    gap: 50px;
    padding: 10px;
}

a{
    color:white;
}

p{
    font-size: 16px;
}

header{
    text-align: center;
    background-color:black ;
    color:white;
}

.cuadro1 {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 0;      /* solo espacio arriba y abajo */
    padding: 20px;
    background-color: #F1948A;
    line-height: 1.5;
    width: fit-content; /* se ajusta al contenido */
    max-width: 90%;     /* opcional: que no se salga de la pantalla */
}



