body{
    display: flex;
    align-content: center;
    justify-content: center;

}

.contenedor{
    height: 300px;
    width: 300px;
    animation: colorFondo 5s 4;
    background-color: red;

}



@keyframes colorFondo{
    0%{background-color: #FF0000;}
    25%{background-color: #FFC0CB;}
    50%{background-color: #0000FF;}
    75%{background-color:  #FFC0CB;}
    100%{background-color: #FF0000;}

}