.container-fluid{
    min-height: 100vh;
}
.col-sidebar{
    min-height: 100%;
    background-color: green ;
}

.col-contenidoPrincipal{
    background-color: red ;
    min-height: 100%;
}
.col-piePagina{
    min-height: 100%;
    background-color: blue ;
}