h1{
    text-align: center;
}
nav{
    background-color:darkgray ;
    padding: 16px;
    text-align: center;

}
article{
    max-width: 400px;
    border:2px solid black;
    border-radius: 10px;
    background-color:lightblue;
    padding: 16px;
    margin: 20px;
}


html{
    font-family:Arial;
}
footer{
    text-align: center;
}

a{
    display: inline-block ;
    margin: 20px;
    color:black;
}
a :hover {
    color:white;
}