button {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: lightblue;
    color: black;
    border: 2px solid #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: deepskyblue;
}