#caja1{
    background-color: #507beb;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    position: absolute;
}
#caja2{
    background-color: #35d4ca;
    width: 100px;
    height: 100px;
    position: relative;
}